*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

header{
    background-color: grey;
    height: 200px;
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;

}

header h1{
    font-size: 100px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 3px black;
}
header h2{
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;
}
nav{
    height: 50px;
    background-color: lightgray;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    position: sticky;
    top: 0;
}
nav li{
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
}
nav ul{
    padding-top: 5px;
}
nav a{
    text-decoration: none;
    background-color: gray;
    color: lightgray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

nav a:hover{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    max-width: 900px;
    margin: auto;
    gap: 20px;
}

.wrapper aside{
    text-align: center;
}

.wrapper aside img{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10%;
    border: 2px solid white;
    box-shadow: 2px 2px 5px gray;
}

.title{
    padding: 5px;
    margin: 20px 10px 10px 10px;
    box-shadow: 1px 1px 5px gray;
    font-size: 15px;
    
}

.wrapper aside ul{
    list-style-type: none;
    text-align: left;
    margin: 0 15px;
    line-height: 20px;
}

.atouts p{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: 7px;
}

.atouts span{
    font-weight: bold
}

progress{
    width: 90%;
    height: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;  
    background-color: white;  
    border : none; 
}

progress::-moz-progress-bar{
    background-color: lightgrey;
    border-radius: 5px;
    border : 1px solid white;
    box-shadow: 1px 1px 5px black;
}

progress::-webkit-progress-bar{
    background-color: lightgrey;
    border-radius: 5px;
    border : 1px solid white;
    box-shadow: 1px 1px 5px black;
}

progress::-webkit-progress-value{
    border-radius: 5px;
    background-color: grey;
}

.wrapper section{
    font-size: 16px;

}

.wrapper section p{
    text-align: justify;
    margin: 10px;
}

#flex-content{
    display: flex;
    text-align: center;
}

section .item p{
    text-align: center;
    color: grey;
    font-size: 13px;
    padding: 10px;
}

footer{
    background-color: gray;
    text-align: center;
    color: white;
    box-shadow: 1px 1px 1px black;

}

footer p{
    height: 40px;
    position: relative;
    top: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
}

/*Portfolio*/

.flex-content-portfolio
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.flex-content-portfolio .item-site {
    flex-basis: 50%;
}

.item-site img {
    width : 90%;
    -webkit-filter: grayscale(0%);
    filter : grayscale(0%);
    box-shadow: 1px 1px 5px black;
}

.item-site img:hover {
    -webkit-filter: grayscale(100%);
    filter : grayscale(100%);
    box-shadow: 1px 1px 10px black;
}

/*CV*/

.cv .grid-content{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 15px;
    gap: 30px 0;
}

.cv .date p {
    color: gray;
    padding-left: 15px;
    margin-bottom: 10px;
}

/*Contact*/

.contact {
    font-size: 15px;
    padding: 25px;
}

input , textarea {
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}

textarea{
    height: 300px;
}

label{
    font-weight: bold;
}

input[type="submit"] {
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width: 710px){
    header h1{
        font-size: 35px;
    }
    header h2{
        font-size: 25px;
    }
    header{
        height: 90px;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
    .wrapper aside{
    order: 1;
    }
    aside img{
        display: none;
    }
    .wrapper section #flex-content{
        flex-direction: column;
    }
    .wrapper .flex-content-portfolio{
        flex-direction: column;
    }
    nav li{
        padding: 5px 5px;
    }
    nav a {
        font-size: 15px;
    }
    nav {
        z-index: 1;
        height: 45px;
    }
}
@media screen and (max-width: 436px){
        nav a{
        font-size: 11px;
    }
}